.git
.gitignore
.cursor
.vscode
.idea

node_modules
dist
coverage
logs
*.log
npm-debug.log*

.env
.env.*
!.env.example
env.production.example

README.md
API_DOCUMENTATION.md
*.md

stores
scripts
AppIcons
AppIcons (1)
*.zip
*.png
*.tsbuildinfo

src/seeders/*
!src/seeders/seedInitialOwner.ts
src/scripts

testTotal.ts
total_test_output.txt
backend-prototype1-web-app-.env
